body {
  width: 100vw;
  height: 100vh;

  margin: 0;

  background-color: #303030;
}
p {
  margin: 0;
}
main#root {
  width: 900px;
  margin: 1rem auto;
  position: relative;
}
main#root.fullwidth {
  width: 100%;
  height: 100%;
  margin: 0;
}
nav {
  width: 900px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: .5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 8px 0 6px 0;

  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
#left-arrow-control,
#right-arrow-control {
  background-color: #eee;
  padding: .75rem .95rem;
  position: absolute;
  top: 101%;
}
#left-arrow-control:hover,
#right-arrow-control:hover {
  background-color: peru;
  color: #eee;
  cursor: pointer;
}

#left-arrow-control { left: 0; }
#right-arrow-control { right: 0; }

#left-arrow-control.hidden { display: none; }
#right-arrow-control.hidden { display: none; }
.dropbtn {
  background-color: #eee;
  color: #303030;
  font-size: 16px;
  border: none;
  /* padding: 16px 0; */
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px .5rem 1rem 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: scroll;
  transition: height 1s ease-in;
  max-height: 250px;
}

.dropdown-content span {
  color: black;
  padding: .75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {text-decoration: underline;}

.dropdown:first-of-type {
  margin-left: .75rem;
}
.dropdown:last-of-type {
  margin-right: .75rem;
}

#content {
  background-color: #eee;
  padding: 0 16px;

  /* font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal; */

  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /* min-height: 35px; */
  /* padding-top: 2rem; */
}


#content > p:has(img) {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
#content img {
  max-width: 300px;
  border-radius: .5rem;
  margin-top: 1rem;
}

#content > p:first-child:has(img) ~ p {
  margin-top: 1rem;
}
