
blockquote {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 5px solid peru;
  font-style: italic;
}
blockquote::first-letter,
blockquote p::first-letter {
  color: peru;
  font-weight: bold;
  font-size: 130%;
}
input[type=checkbox]:disabled {
  filter: grayscale(0%) brightness(90%) sepia(100%) sepia(100%);
  pointer-events: none;
}
a {
  text-decoration: none;
  color: darkgoldenrod;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
h1 {
  text-align: center;
}
td,th {
  border-bottom: 1px solid #303030;
}
table {
  border-collapse: collapse
}
td u {
  display: block;
  text-align: center;
}
li {
  padding: .25rem .75rem;
}
table.big li:not(:only-child):nth-of-type(even) {
  background-color: #eee;
}
table.big li:not(:only-child):nth-of-type(odd) {
  background-color: #fff;
}