@media screen and (max-width: 789px){
  body {
    background-color: red;
  }
  nav {
    flex-flow: column;
  }
  
  main#root {
    position: static;
  }

  #content {
    position: static;
    margin-top: 12rem;
  }

  .dropdown-content {
    left: 14%;
  }

  .dropbtn {
    width: 100%;
    display: block;
  }
  .dropbtn:hover {
    background-color: #303030;
    color: #eee;
  }
  .dropdown:first-of-type {
    margin-left: 0;
  }
  .dropdown:not(:first-of-type) {
    /* display: none; */
  }
}